In [122]:
import pandas as pd
df=pd.read_csv("C:/Users/ASUS/Downloads/dataset_datahack_channels.csv")
df=df[['channel_title','view_count','subscriber_count','video_count']]
df['ratio']=df['view_count']/df['subscriber_count']
df.sort_values(by='ratio',inplace=True,ascending=False)
df

,channel_title,view_count,subscriber_count,video_count,ratio
36,ChessBase India,909271596,1170000,8777,777.155210
47,Sambhavna Seth Entertainment,1975052135,3460000,1568,570.824316
32,Abhishek Prajapati,57523239,105000,348,547.840371
1,Boyzz World Gaming,761326,1690,196,450.488757
33,Mumbiker Nikhil,1524540220,3960000,2123,384.984904
10,Jentilal,2227523,5890,229,378.187267
41,NeuzBoy,383891033,1170000,1025,328.111994
45,Samay Raina,340523224,1130000,872,301.347986
0,Onkiify,1443714,4820,193,299.525726
34,MOinsideHIT,297497038,1000000,1026,297.497038
9,Comedy Box R k Gautam,2852009,10100,297,282.377129
40,Neon Man,507172318,1820000,1185,278.666109
44,Vivek Desai,24390585,90400,425,269.807356
27,Finance With Sharan,388133294,1660000,273,233.815237
11,AG !,19544498,91200,106,214.303706
43,Jordindian,584652553,2780000,185,210.306674
35,Intxstelar,37350665,184000,130,202.992745
17,Gate Smashers,268700525,1350000,1236,199.037426
23,Prafull MBA CHAI WALA,297531859,1650000,959,180.322339
19,Rajat Arora,362923358,2060000,1250,176.176387
30,Sakshi Shrivas,32852015,197000,62,166.761497
29,Amusing Rii,82651127,508000,117,162.699069
8,Ziyan Ki Gang,1640577,10300,384,159.279320
14,Nazar Battu,573331048,4190000,195,136.833186
20,RAIL GYANKOSH,134394531,1000000,316,134.394531
38,Anime Spirit,34383474,276000,143,124.577804
18,SAURABH DAHIVADKAR,18266083,154000,757,118.610929
4,Paglaa Tech,17097445,147000,184,116.309150
46,Log Kya Kahenge,57763135,503000,157,114.837247
13,DilSeBuraLagtaHai Bhai,5141,45,27,114.244444
49,Jenny's Lectures CS IT,126587245,1170000,600,108.194226
7,SILENT GIRL GAMING,260787957,2590000,1407,100.690331
12,Comedian Vikas Thakur,1086269,11400,67,95.286754
31,Rohan Joshi,13150473,171000,92,76.903351
22,warikoo,214606523,2800000,861,76.645187
39,SeeKen,295923498,3920000,444,75.490688
48,ANS Entertainment,102133580,1390000,123,73.477396
26,pranjal kamra,368547033,5110000,418,72.122707
5,Prabhat Gamer,154045275,2150000,249,71.648965
2,Majnu Gaming,290799,4690,468,62.004051
42,Roman Mania,6008183,103000,281,58.331874
25,CA Rachana Phadke Ranade,231870766,4360000,1013,53.181368
15,Sudarshan Gurjar,5642167,109000,303,51.763000
6,SUBHAM HORE,53777584,1110000,1072,48.448274
3,SELEM YT,6427859,133000,339,48.329767
28,Ishaan Arora,917729,19800,100,46.349949
16,Priyansh Agarwal,1934597,46600,145,41.514957
37,R.G Bucket List,124390259,3020000,16,41.188827
21,Devsnest,557965,15400,200,36.231494
24,Gold Janardhan Investor,56637,3560,124,15.909270

In [123]:
df1=pd.read_csv("C:/Users/ASUS/Downloads/dataset_datahack_videos.csv")
df1=df1[['title','description','tags','category_id','duration','view_count','likes','comments','upload_time']]
df1

,title,description,tags,category_id,duration,view_count,likes,comments,upload_time
0,Adopted by the SMALLEST FAMILY in Minecraft! (...,Adopted by the SMALLEST FAMILY in Minecraft! (...,"['minecraft', 'yes smarty pie himlands', 'Adop...",20,PT18M59S,108078,3539,840,2023-03-10T09:32:59Z
1,I started playing chess when I was three years...,Aswath S (2214) is one of the brightest upcomi...,"['chessbaseindia', 'interviews', 'chesstrainin...",17,PT3M28S,2082,74,5,2023-03-29T06:30:09Z
2,#1 How @BBKiVines become 1 of India’s RICHEST ...,Booming digital stars book summary in Hindi \n...,"['seeken', 'zeeshan shaikh', 'booming digital ...",27,PT13M28S,91801,5100,220,2023-03-26T05:16:10Z
3,Mere paas SABOOT nahi hai!,For any queries or feedback please mail us to ...,"['sambhavnaseth', 'ss vlogs', 'hindi vlogger',...",22,PT12M50S,1059186,46367,1846,2023-03-04T07:45:08Z
4,The BIRTH to DEATH of a Minecraft ELEPHANT! 😱 ...,The BIRTH to DEATH of a Minecraft ELEPHANT! 😱 ...,"['minecraft', 'yessmartypie himlands', 'The BI...",20,PT16M7S,155964,6147,1163,2023-03-12T07:50:52Z
...,...,...,...,...,...,...,...,...,...
466,"""Tell me about Yourself"" ka SABSE SAHI Answer","Hello Everyone, My Name is Ishaan Arora.\nI'm ...","['finladder ishaan arora', 'tedx ishaan arora'...",27,PT59S,2351,185,0,2023-02-21T12:57:44Z
467,Is 2023 the BEST YEAR to START UP? | Antler In...,Get my new book ‘GET EPIC SHIT DONE’ here: htt...,"['warikoo', 'ankur warikoo', 'Ankur Warikoo mo...",27,PT32M10S,38969,1245,182,2023-03-16T14:30:01Z
468,Top 4 Reasons To Learn Personal Finance | Wome...,✔️ Invest in Knowledge: https://social.rachana...,"['CA Rachana Ranade', 'stock market basics', '...",27,PT9M,34971,1451,80,2023-03-05T08:30:18Z
469,Mummy ka Vlog TRENDING pe le aao!,For any queries or feedback please mail us to ...,"['sambhavnaseth', 'ss vlogs', 'hindi vlogger',...",22,PT13M58S,584614,40702,1493,2023-03-27T06:30:41Z
470,Dominate 3.0 with OnePlus 11R 5G,Witness the battles of glory as the top creato...,"['New State Mobile', 'One Plus', 'One Plus Dom...",20,PT3H49M26S,3035,129,2,2023-03-11T20:02:43Z

## Converting duration into usable time objects

In [124]:
from datetime import datetime, time
def change(l):
    m=0
    t=""
    s=0
    h=0
    l=l[2:]
    for i in l:
        if i=='H':
            h=int(t)
            t=""
            continue
        if i=='M':
            m=int(t)
            t=""
            continue
        if i=='S':
            s=int(t)
            t=""
        t+=i
    duration=time(h,m,s)
    return duration

df1['duration']=df1['duration'].apply(change)
df1

,title,description,tags,category_id,duration,view_count,likes,comments,upload_time
0,Adopted by the SMALLEST FAMILY in Minecraft! (...,Adopted by the SMALLEST FAMILY in Minecraft! (...,"['minecraft', 'yes smarty pie himlands', 'Adop...",20,00:18:59,108078,3539,840,2023-03-10T09:32:59Z
1,I started playing chess when I was three years...,Aswath S (2214) is one of the brightest upcomi...,"['chessbaseindia', 'interviews', 'chesstrainin...",17,00:03:28,2082,74,5,2023-03-29T06:30:09Z
2,#1 How @BBKiVines become 1 of India’s RICHEST ...,Booming digital stars book summary in Hindi \n...,"['seeken', 'zeeshan shaikh', 'booming digital ...",27,00:13:28,91801,5100,220,2023-03-26T05:16:10Z
3,Mere paas SABOOT nahi hai!,For any queries or feedback please mail us to ...,"['sambhavnaseth', 'ss vlogs', 'hindi vlogger',...",22,00:12:50,1059186,46367,1846,2023-03-04T07:45:08Z
4,The BIRTH to DEATH of a Minecraft ELEPHANT! 😱 ...,The BIRTH to DEATH of a Minecraft ELEPHANT! 😱 ...,"['minecraft', 'yessmartypie himlands', 'The BI...",20,00:16:07,155964,6147,1163,2023-03-12T07:50:52Z
...,...,...,...,...,...,...,...,...,...
466,"""Tell me about Yourself"" ka SABSE SAHI Answer","Hello Everyone, My Name is Ishaan Arora.\nI'm ...","['finladder ishaan arora', 'tedx ishaan arora'...",27,00:00:59,2351,185,0,2023-02-21T12:57:44Z
467,Is 2023 the BEST YEAR to START UP? | Antler In...,Get my new book ‘GET EPIC SHIT DONE’ here: htt...,"['warikoo', 'ankur warikoo', 'Ankur Warikoo mo...",27,00:32:10,38969,1245,182,2023-03-16T14:30:01Z
468,Top 4 Reasons To Learn Personal Finance | Wome...,✔️ Invest in Knowledge: https://social.rachana...,"['CA Rachana Ranade', 'stock market basics', '...",27,00:09:00,34971,1451,80,2023-03-05T08:30:18Z
469,Mummy ka Vlog TRENDING pe le aao!,For any queries or feedback please mail us to ...,"['sambhavnaseth', 'ss vlogs', 'hindi vlogger',...",22,00:13:58,584614,40702,1493,2023-03-27T06:30:41Z
470,Dominate 3.0 with OnePlus 11R 5G,Witness the battles of glory as the top creato...,"['New State Mobile', 'One Plus', 'One Plus Dom...",20,03:49:26,3035,129,2,2023-03-11T20:02:43Z

## Converting upload time to category slots

In [125]:
def change1(i):
    if 4<=i.hour<11:
        return 'Morning'
    elif 11<=i.hour<16:
        return 'Afternoon'
    elif 16<=i.hour<22:
        return 'Evening'
    else:
        return 'Night'

df1['upload_time']=df1['upload_time'].apply(pd.to_datetime)
df1['upload_time']=df1['upload_time'].apply(change1)
df1

,title,description,tags,category_id,duration,view_count,likes,comments,upload_time
0,Adopted by the SMALLEST FAMILY in Minecraft! (...,Adopted by the SMALLEST FAMILY in Minecraft! (...,"['minecraft', 'yes smarty pie himlands', 'Adop...",20,00:18:59,108078,3539,840,Morning
1,I started playing chess when I was three years...,Aswath S (2214) is one of the brightest upcomi...,"['chessbaseindia', 'interviews', 'chesstrainin...",17,00:03:28,2082,74,5,Morning
2,#1 How @BBKiVines become 1 of India’s RICHEST ...,Booming digital stars book summary in Hindi \n...,"['seeken', 'zeeshan shaikh', 'booming digital ...",27,00:13:28,91801,5100,220,Morning
3,Mere paas SABOOT nahi hai!,For any queries or feedback please mail us to ...,"['sambhavnaseth', 'ss vlogs', 'hindi vlogger',...",22,00:12:50,1059186,46367,1846,Morning
4,The BIRTH to DEATH of a Minecraft ELEPHANT! 😱 ...,The BIRTH to DEATH of a Minecraft ELEPHANT! 😱 ...,"['minecraft', 'yessmartypie himlands', 'The BI...",20,00:16:07,155964,6147,1163,Morning
...,...,...,...,...,...,...,...,...,...
466,"""Tell me about Yourself"" ka SABSE SAHI Answer","Hello Everyone, My Name is Ishaan Arora.\nI'm ...","['finladder ishaan arora', 'tedx ishaan arora'...",27,00:00:59,2351,185,0,Afternoon
467,Is 2023 the BEST YEAR to START UP? | Antler In...,Get my new book ‘GET EPIC SHIT DONE’ here: htt...,"['warikoo', 'ankur warikoo', 'Ankur Warikoo mo...",27,00:32:10,38969,1245,182,Afternoon
468,Top 4 Reasons To Learn Personal Finance | Wome...,✔️ Invest in Knowledge: https://social.rachana...,"['CA Rachana Ranade', 'stock market basics', '...",27,00:09:00,34971,1451,80,Morning
469,Mummy ka Vlog TRENDING pe le aao!,For any queries or feedback please mail us to ...,"['sambhavnaseth', 'ss vlogs', 'hindi vlogger',...",22,00:13:58,584614,40702,1493,Morning
470,Dominate 3.0 with OnePlus 11R 5G,Witness the battles of glory as the top creato...,"['New State Mobile', 'One Plus', 'One Plus Dom...",20,03:49:26,3035,129,2,Evening

### Understanding how many videos per slot

In [126]:
df1.groupby(by='upload_time').sum()

             category_id  view_count    likes  comments
upload_time
Afternoon           4850   125494412  8330870    312199
Evening              900     4924179   346245     13314
Morning             3784    64065019  4480509    161860
Night                682     1483774   109139      4813

## Converting category_id to Category title

In [127]:
from bs4 import BeautifulSoup as bs
import requests

r=requests.get('https://mixedanalytics.com/blog/list-of-youtube-video-category-ids/')

soup=bs(r.content)

In [128]:
table=soup.find('table')
rows=table.findAll('td')
d={}
for i,v in enumerate(rows):
    if i%2==0:
        try:
            d[int(v.getText())]=rows[i+1].getText()
        except:
            continue
print(d)

{1: 'Film & Animation', 2: 'Autos & Vehicles', 10: 'Music', 15: 'Pets & Animals', 17: 'Sports', 18: 'Short Movies', 19: 'Travel & Events', 20: 'Gaming', 21: 'Videoblogging', 22: 'People & Blogs', 23: 'Comedy', 24: 'Entertainment', 25: 'News & Politics', 26: 'Howto & Style', 27: 'Education', 28: 'Science & Technology', 29: 'Nonprofits & Activism', 30: 'Movies', 31: 'Anime/Animation', 32: 'Action/Adventure', 33: 'Classics', 34: 'Comedy', 35: 'Documentary', 36: 'Drama', 37: 'Family', 38: 'Foreign', 39: 'Horror', 40: 'Sci-Fi/Fantasy', 41: 'Thriller', 42: 'Shorts', 43: 'Shows', 44: 'Trailers'}

In [129]:
def title(i):
    if i in d:
        return d[i]
df1['category_id']=df1['category_id'].apply(title)
df1

,title,description,tags,category_id,duration,view_count,likes,comments,upload_time
0,Adopted by the SMALLEST FAMILY in Minecraft! (...,Adopted by the SMALLEST FAMILY in Minecraft! (...,"['minecraft', 'yes smarty pie himlands', 'Adop...",Gaming,00:18:59,108078,3539,840,Morning
1,I started playing chess when I was three years...,Aswath S (2214) is one of the brightest upcomi...,"['chessbaseindia', 'interviews', 'chesstrainin...",Sports,00:03:28,2082,74,5,Morning
2,#1 How @BBKiVines become 1 of India’s RICHEST ...,Booming digital stars book summary in Hindi \n...,"['seeken', 'zeeshan shaikh', 'booming digital ...",Education,00:13:28,91801,5100,220,Morning
3,Mere paas SABOOT nahi hai!,For any queries or feedback please mail us to ...,"['sambhavnaseth', 'ss vlogs', 'hindi vlogger',...",People & Blogs,00:12:50,1059186,46367,1846,Morning
4,The BIRTH to DEATH of a Minecraft ELEPHANT! 😱 ...,The BIRTH to DEATH of a Minecraft ELEPHANT! 😱 ...,"['minecraft', 'yessmartypie himlands', 'The BI...",Gaming,00:16:07,155964,6147,1163,Morning
...,...,...,...,...,...,...,...,...,...
466,"""Tell me about Yourself"" ka SABSE SAHI Answer","Hello Everyone, My Name is Ishaan Arora.\nI'm ...","['finladder ishaan arora', 'tedx ishaan arora'...",Education,00:00:59,2351,185,0,Afternoon
467,Is 2023 the BEST YEAR to START UP? | Antler In...,Get my new book ‘GET EPIC SHIT DONE’ here: htt...,"['warikoo', 'ankur warikoo', 'Ankur Warikoo mo...",Education,00:32:10,38969,1245,182,Afternoon
468,Top 4 Reasons To Learn Personal Finance | Wome...,✔️ Invest in Knowledge: https://social.rachana...,"['CA Rachana Ranade', 'stock market basics', '...",Education,00:09:00,34971,1451,80,Morning
469,Mummy ka Vlog TRENDING pe le aao!,For any queries or feedback please mail us to ...,"['sambhavnaseth', 'ss vlogs', 'hindi vlogger',...",People & Blogs,00:13:58,584614,40702,1493,Morning
470,Dominate 3.0 with OnePlus 11R 5G,Witness the battles of glory as the top creato...,"['New State Mobile', 'One Plus', 'One Plus Dom...",Gaming,03:49:26,3035,129,2,Evening

In [133]:
df1.rename(columns= {'category_id':'category'},inplace=True)
df1

,title,description,tags,category,duration,view_count,likes,comments,upload_time
0,Adopted by the SMALLEST FAMILY in Minecraft! (...,Adopted by the SMALLEST FAMILY in Minecraft! (...,"['minecraft', 'yes smarty pie himlands', 'Adop...",Gaming,00:18:59,108078,3539,840,Morning
1,I started playing chess when I was three years...,Aswath S (2214) is one of the brightest upcomi...,"['chessbaseindia', 'interviews', 'chesstrainin...",Sports,00:03:28,2082,74,5,Morning
2,#1 How @BBKiVines become 1 of India’s RICHEST ...,Booming digital stars book summary in Hindi \n...,"['seeken', 'zeeshan shaikh', 'booming digital ...",Education,00:13:28,91801,5100,220,Morning
3,Mere paas SABOOT nahi hai!,For any queries or feedback please mail us to ...,"['sambhavnaseth', 'ss vlogs', 'hindi vlogger',...",People & Blogs,00:12:50,1059186,46367,1846,Morning
4,The BIRTH to DEATH of a Minecraft ELEPHANT! 😱 ...,The BIRTH to DEATH of a Minecraft ELEPHANT! 😱 ...,"['minecraft', 'yessmartypie himlands', 'The BI...",Gaming,00:16:07,155964,6147,1163,Morning
...,...,...,...,...,...,...,...,...,...
466,"""Tell me about Yourself"" ka SABSE SAHI Answer","Hello Everyone, My Name is Ishaan Arora.\nI'm ...","['finladder ishaan arora', 'tedx ishaan arora'...",Education,00:00:59,2351,185,0,Afternoon
467,Is 2023 the BEST YEAR to START UP? | Antler In...,Get my new book ‘GET EPIC SHIT DONE’ here: htt...,"['warikoo', 'ankur warikoo', 'Ankur Warikoo mo...",Education,00:32:10,38969,1245,182,Afternoon
468,Top 4 Reasons To Learn Personal Finance | Wome...,✔️ Invest in Knowledge: https://social.rachana...,"['CA Rachana Ranade', 'stock market basics', '...",Education,00:09:00,34971,1451,80,Morning
469,Mummy ka Vlog TRENDING pe le aao!,For any queries or feedback please mail us to ...,"['sambhavnaseth', 'ss vlogs', 'hindi vlogger',...",People & Blogs,00:13:58,584614,40702,1493,Morning
470,Dominate 3.0 with OnePlus 11R 5G,Witness the battles of glory as the top creato...,"['New State Mobile', 'One Plus', 'One Plus Dom...",Gaming,03:49:26,3035,129,2,Evening

In [136]:
df.to_csv('datahack_channels.csv')
df1.to_csv('datahack_videos.csv')